---
layout: archive
title: "My Research"
permalink: /talks/
author_profile: true
---
<br/>
<br/>

<h1 id= "Our Earth">
  <font color="#00008B"> Our Earth </font>
</h1>
<hr>
  {% for post in site.Earth reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}

<br/>
<br/>
<h1 id="mars"><font color="#8B0000">  Mars </font></h1>
<hr>
  {% for post in site.Mars reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}


<br/>
<br/>
<h1 id="lunar"><font color="#DEB887">  Lunar </font></h1>
<hr>
  {% for post in site.Lunar reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}

