---
layout: archive
title: "My Research"
permalink: /talks/
author_profile: true
---
<h2 id= "Our Earth">
  <font color="#00008B"> Our Earth </font>
</h2>
<hr>
<h3 id="--introducing-the-backpack-images">- Introducing the Backpack Images</h3>

<h3 id="--integration-of-multi-source-data">- Integration of Multi-source Data</h3>

<h2 id="---mars-"><font color="#8B0000"> - Mars </font></h2>
<hr>
<h3 id="esa-hrsc-data-processing">ESA HRSC Data Processing</h3>

<h3 id="chinese-hiric--data-processing">Chinese HiRIC Data Processing</h3>
  {% for post in site.talks reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}

<h2 id="---lunar-"><font color="#DEB887"> - Lunar </font></h2>
<hr>
<h3 id="ce4">CE4</h3>

<h3 id="ce5">CE5</h3>

